.a{
    height: 800px;width:1200px;background-color: aliceblue;
}
.b{
    height: 800px;width:200px;float: left;background-color: antiquewhite;
}
.c{
    height:100px;width:200px;background-color: aqua;
}
.d{
    height:400;width:2oopx;background-color: yellow;
}
.e{
    height:300;width:200px;background-color: aquamarine;
}
.f{
    height:300;width:100px;background-color:palevioletred;float :left;
}
.g{
    height:300;width:100px;background-color:brown;float :right;
}
.h{
    height: 800px;width:1000px;background-color: azure;float:right;
}
.i{
    height:100px;width:1000px;background-color:beige;
}
.j{
    height:100px;width:800px;background-color:blue;float:left;
}
.k{
    height:100px;width:200px;background-color:bisque;float:right;
}
.l{
    height:50px;width:200px;background-color:purple;
}
.m{
    height:50px;width:200px;background-color:wheat;
}
.n{
    height:50px;width:100px;background-color:violet;float:left;
}
.o{
    height:50px;width:100px;background-color:turquoise;float:right;
}
.p{
    height:100px;width:1000px;background-color: cadetblue;
}
.q{
    height:600px;width:1000px;background-color: blanchedalmond;
}
.r{
    height: 600px;width:200px;background-color: azure;float:left;
}
.s{
    height:300px;width:200px;background-color: whitesmoke;
}
.t{
    height:300px;width:100px;background-color: orange;float:left;
}
.u{
    height:300px;width:100px;background-color: pink;float:right;
}
.v{
    height:300px;width:200px;background-color:purple;
}
.w{
    height: 600px;width:200px;background-color:plum;float:left;
}
.x{
    height: 600px;width:600px;background-color:snow;float:right;
}
.y{
    height: 100px;width:600px;background-color:tomato;
}
.z{
    height: 500px;width:600px;background-color:papayawhip;
}
.abvi{
    height: 500px;width:200px;background-color:peachpuff;float:left;
}
.abhi{
    height: 200px;width:200px;background-color:red;
}
.rashu{
    height: 300px;width:200px;background-color:silver;
}
.tej{
    height: 300px;width:100px;background-color:teal;float:left;
}
.ammu{
    height: 300px;width:100px;background-color:thistle;float:right;
}
.charenya{
    height: 500px;width:200px;background-color:steelblue;float:left;
}
.udtha{
    height: 500px;width:200px;background-color:seashell;float:right;
}
.chinnu{
    height: 200px;width:200px;background-color:salmon;
}
.bhavi{
    height: 300px;width:200px;background-color:oldlace;
}
.joy{
    height: 300px;width:100px;background-color:olivedrab;float:left;
}
.charan{
    height: 300px;width:100px;background-color:mediumspringgreen;float:right;
}